* {
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
}

.heading-title {
    color: rgb(88, 26, 75);
}

.heading-sub-title {
    color: goldenrod;
}

#search-btn {
    background-color: rgb(88, 26, 75);
    color: aliceblue;
}

.details-btn {
    border: none;
    background-color: rgb(88, 26, 75);
    color: aliceblue;

}

.search-error {
    display: none;
}

#spinner {
    display: none;
}

.details-title {
    font-weight: 600;
}